.terminal-node * {
  color: white;
  cursor: text;
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
  font-size: 18px;
}

.terminal-node {
  background-color: #000;
  
  white-space: pre-wrap;
}

.terminal-input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  position: relative;
  width: calc(100% - 19px);
}

.terminal-input:disabled {
  opacity: 0.5;
}

.terminal-input-wrapper:before {
  content: '$';
  color: dimgrey;
  padding-right: 8px;
}

.terminal-bg-white {
  background-color: white;
  color: black;
}

.terminal-bg-blue {
  background-color: dodgerblue;
  color: black;
}

.terminal-bg-yellow {
  background-color: darkorange;
  color: black;
}

.terminal-bg-red {
  background-color: crimson;
  color: white;
}

.terminal-bg-green {
  background-color: greenyellow;
  color: black;
}

.terminal-tx-red {
  color: crimson;
}

.terminal-tx-green {
  color: greenyellow;
}

.terminal-tx-blue {
  color: blue;
}
